// Animations
// ==================
.anim-rotate {
    animation: elastic-rotate 1s infinite ease;
  }
 .anim-delay-2s {
     animation-delay: 2s;
 } 
@keyframes elastic-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
  }

  .anim-slide-y {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: slide-y;
    animation-name: slide-y;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  @keyframes slide-y {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

.anim-slide-x {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: slide-x;
    animation-name: slide-x;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  @keyframes slide-x {
    0% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.anim-pulse {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}