// Fonts
// ==================
$font_renogare: 'Renogare', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;
$font_icon: 'icomoon';

// Colors
// ==================
$blue: #216BFE;
$blue_pastel: #8eb4f5;
$blue_dark : #2A3166;
$blue_green_dark: #005d64;
$blue_green: #00e4a0;
$blue_caraib: #00e4bc;
$blue_turquoise: #0cd2b6;
$green : #5fea5d;
$red_pastel: #ff6c6c;
$turquoise: #4df0e0;
$purple: #48337b;  
$grey: #292A2C;
$grey_dark: #131414;
$grey_light: #9e9e9e;
$grey_ultralight: #dee2e6;

$color_primary:$blue_turquoise;
$color_primary:$red_pastel;
$color_secondary: $purple;
$color_txt: $grey_dark;
$bg_grey: $grey;