// Fonts
// ==================
$font_renogare: 'Renogare', sans-serif;
$font_montserrat: 'Montserrat', sans-serif;
$font_icon: 'icomoon';

// Colors
// ==================

$red_pastel: #ff6c6c; 
$grey: #292A2C;
$grey_dark: #131414;
$grey_light: #9e9e9e;
$grey_ultralight: #dee2e6;

$blue_night: #3423A6;
$blue_dark: #171738;
$blue_neon: #00F0B5;
$blue_ardoise: #7180B9;
$blue_grey: #f5f6ff;
$blue_grey_light: #F1F2F8;
$blue_gradiant: linear-gradient(180deg, #3423A6, #171738);

$color_primary:$blue_neon;
$color_secondary: $blue_night;
$color_txt: $blue_dark;
$bg_grey: $grey;
$bg_dark: $blue_night;