<section class="section section-graphisme pb-5">
    <div class="half-line before-lines"></div>
    <div class="wrap-lines container">
        <div class="row no-gutters">
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
        </div>
    </div>
    <div class="half-line after-lines"></div>
        <div class="container reveal">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="section-infos">
                        <h3 class="section-title">{{ bloc.titre }}</h3>
                    </div>
                </div>
                {% for texte in bloc.textes %}
                <div class="col-md-3 pl-0">
                    <i class="icon-color fas {{ texte.icon }}"></i>
                    <h4 class="h4 mb-3">{{ texte.titre_bloc }}</h4>
                    <p>{{ texte.description_bloc }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
</section>

