<div class="single section branding-case-study">
    <div class="half-line before-lines"></div>
    <div class="wrap-lines container">
        <div class="row no-gutters">
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
        </div>
    </div>
<div class="half-line after-lines"></div>
    <div class="container">
        <div class="row">
            <div class="branding-icon">
                <i class="fas fa-draw-polygon"></i>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <div class="branding-content reveal">
                    <h3>{{ bloc.title }}</h3>
                    <p>{{ bloc.description }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <div class="branding-img mt-4 mt-lg-0 reveal">
                    <img class="img-fluid" src="{{ bloc.image }}" alt="{{ bloc.alt }}">
                </div>
            </div>
        </div>
    </div>
</div>