<div class="single section-color-dark device-laptop-case-study">
    <div class="half-line before-lines"></div>
    <div class="wrap-lines container">
        <div class="row no-gutters">
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
            <div class="col-3 liner"></div>
        </div>
    </div>
<div class="half-line after-lines"></div>
    <div class="container">
        <div class="row">
            <div class="wrap-elements">
                <span class="element element-1 c"></span>
                <span class="element element-5 t"></span>
                <span class="element element-8 r-line anim-pulse"></span>
                <span class="element element-9 l anim-slide-x"></span>
                <span class="element element-10 l-large anim-slide-x anim-delay-2s"></span>
                <span class="element element-11 more"></span>
                <span class="element element-12 x"></span>
            </div>
            <div class="col-12 p-0">
                <div class="device-laptop-img">
                    <img class="img-fluid" src="{{ bloc.image }}" alt="{{ bloc.alt }}">
                </div>
                {% if bloc.site_web == true %}
                <div class="text-center my-3">
                    <a class="btn btn-round btn-primary btn-effect hoverable mt-3" href="{{ bloc.site_web }}" target="_blank" rel="noopener noreferrer">Voir le site</a> 
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>