// contact
// ==================
.hero-contact {
    margin-bottom: -70px;
    z-index: 1;
    .hero-title h1 {
        transition: 0.3s;
    }
}

.contact-form {
    position: relative;
    background-color: #fff;
    .form-content {
        z-index: 1;
        background-color: #fff;
        width: 100%;
        padding: 4rem 2rem;
        position: relative;
        .info-contact {
            h2 {
                font-family: $font_renogare;
                font-size: 2.3rem;
            }
        }
        .contact-me {
            padding: 1.2rem;
            box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
            &.no-shadow {
                box-shadow: none;
            }
        }
        .info-block {
            font-size: 0.8rem;
            .icon {
            font-size: 2rem;
            color: $color_secondary;
            }
            .content-block {
                h4 {
                    font-size: 1rem;
                    font-weight: 700;
                }
            } 
        }
    }
} 

// formulaire
// ==================
div.wpforms-container-full.wrap-form-contact .wpforms-form {
    .input-wrap {
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 2px solid #d9d9d9;
        position: relative;
        .wpforms-field-label {
            top: 15px;
            position: absolute;
            left: 0;
            transition: all 0.3s ease-in-out;
            color: #ccc;
            font-weight: 500;
            &.active {
                top: 2px;
                transition: all 0.3s;
                color: $color_primary;
            }
            span {
                display: none;
            }
          }
          .wpforms-error {
            color: #e27171;
          }
          input, textarea {
            border: none;
            width: 100%;
            padding: 10px 5px 0 0;
            font-size: 14px;
          } 
          textarea {
              resize: none;
              padding-top: 15px;
          }
          input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px white inset;
            box-shadow: 0 0 0px 1000px white inset;
        }    
    }
    .btn-submit {
        border-radius: 4rem;
        padding: 0.6rem 1.5rem;
        color: #fff;
        background-color: $color_primary;
        border: 1px solid $color_primary;
        cursor: none !important;
        &:hover, &:focus {
            border: 1px solid $color_primary;
            color: $color_primary;
            background-color: #fff;
        }
    }
    .btn-effect {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        overflow: hidden;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            display: block;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(255, 255, 255, 1);
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
            -webkit-transform-origin: right top;
            transform-origin: right top;
            z-index: -1;
        }
        &:hover::before {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            -webkit-transform-origin: left top;
            transform-origin: left top;
        }
    }  
}

.wrap-form-contact .wpforms-form .input-wrap.active:before {
    width: 100%;
}   
.wrap-form-contact .wpforms-form .input-wrap:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    background: $color_primary;
}

// message confirm
.wpforms-confirmation-container-full, div[submit-success] > .wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: $color_primary;
    border: none;
    margin: 0;
    padding: 1.5rem;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}
.wpforms-confirmation-container-full.is-hide {
    transform: translateY(-100px);
}

.send-email{
    background-image: url('../images/illu-contact.png');
    background-size: contain;
    height: 464px;
    margin: auto;
    background-position: top;
    background-repeat: no-repeat;
}

@include maxwidth(md) {
    .send-email{
        height: 315px;
    }
}

@include maxwidth(sm) {
    .hero-contact {
        margin-bottom: 0;
    }
}