// About
// ==================
.page-template-page-about .title-site {
    color: $color_txt;
}
// hero-page
// ==================
.hero-page + .presentation-about {
    padding: 6rem 0;
} 

// presentation
// ==================
.presentation-about {
    padding: 8rem 0 6rem 0;
    .detail-presentation {
        font-family: $font_renogare;
        h2, h3, h4, h5 {
            font-size: 2.2rem;
            line-height: 1.5;
        }
        strong {
            color: $color_primary;
        }
    }
}

// number
// ==================
.number-about {
    padding: 6rem 0;
    color: #fff;
    .number {
        font-family: $font_renogare;
        font-size: 3rem;
        p {
            margin-bottom: 0;
        }
        &::after {
            content:'';
            display: block;
            width: 30px;
            height: 2px;
            background-color: #fff;
        }
    }
    .number-title {
        font-size: 2rem;
        font-weight: 500;
        p {
            margin: 0.5rem 0;
        }
    }
    .number-desc {
        font-weight: 100;
    }
}

// cursus
// ==================
.cursus-about {
    padding: 6rem 0;
    .cursus-title {
        margin-bottom: 8rem;
    }
    .blocs-cursus {
        counter-reset: cursusCounter;
        .bloc-cursus {
            position: relative;
            &::before {
                content: counter(cursusCounter,decimal-leading-zero);
                counter-increment: cursusCounter;
                position: absolute;
                top: 0;
                font-family: $font_renogare;
                left: 0;
                width: 180px;
                font-size: 8rem;
                transform: rotate(-90deg) translate(110px, -38px);
                color:  #f3f3f3;
            }
            .start-year {
                position: absolute;
                top: -10px;
            }
            .years{
                position: relative;
                p {
                    font-size: 3rem;
                    font-family: $font_renogare;
                }
            }
            .school p {
                font-size: 1.5rem;
                font-weight: 900;
                color: $color_primary;
            }
        }
    }
}

// services
// ==================
.services-about {
    position: relative;
    padding: 6rem 0;
}

// skills
// ==================
.skill-about {
    position: relative;
    padding: 6rem 0;
    color: #fff;
    .wrap-skill {
        .row-skill {
            .box-skill {
                text-align: center;
                 width: 25%;
                 height: 200px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-direction: column;
                img {
                    filter: invert(1);
                }
            }
            &::after {
                content:'';
                display: block;
                width: calc(100% - 2px);
                height: 1px;
                background-color: #444444;
            }
            &:last-child::after {
                display: none;
            }
        }
    }

}

@include maxwidth(sm) {
    .skill-about .wrap-skill .row-skill .box-skill {
        width: 50%;
    }
    .presentation-about .detail-presentation h2, 
    .presentation-about .detail-presentation h3, 
    .presentation-about .detail-presentation h4,
    .presentation-about .detail-presentation h5 {
        font-size: 1.8rem;
    }
    .cursus-about .blocs-cursus .bloc-cursus {
        margin-bottom: 110px;
    }
    .cursus-about .blocs-cursus .col-md-3:last-child .bloc-cursus {
        margin-bottom: 0;
    }
    .presentation-about {
        padding-bottom: 4rem;
    }
    .cursus-about, .number-about, .services-about, .skill-about {
        padding: 4rem 0;
    }
}