// Graphisme
// ==================
.section-graphisme, .graphisme-img, .perso {
    position: relative;
}

.graphisme-img {
    background-color: $bg_grey;
    min-height: 600px;
}

.perso {
    min-height: 666px;
}
.perso-botttom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/perso-bottom.png');
    background-size: cover;
    width: 100%;
    max-width: 352px;
    height: 100%;
    max-height: 351px;
    margin: 0 auto;
}
.perso-head-1 {
    position: absolute;
    background-image: url('../images/head-1.png');
    background-size: cover;
    width: 116px;
    height: 44px;
    bottom: 336px;
    left: 124px;
    z-index: 1;
    transform: rotate(-3deg);
    transition: 0.3s;
    &.is-move {
                transform: rotate(0) !important;  
        bottom: 350px;
        left: 124px;
   
    }
}
.perso-head-2 {
    position: absolute;
    background-image: url('../images/head-2.png');
    background-size: cover;
    width: 142px;
    height: 100px;
    bottom: 353px;
    left: 116px;
    z-index: 1;
        transition: 0.3s;
    &.is-move {
        bottom: 380px;
        left: 116px;
    }
}
.perso-head-3 {
    position: absolute;
    background-image: url('../images/head-3.png');
    background-size: cover;
    width: 136px;
    height: 82px;
    bottom: 411px;
    left: 114px;
    z-index: 2;
    transform: rotate(-6deg);
        transition: 0.3s;
    &.is-move {
        bottom: 446px;
        left: 117px;
        transform: rotate(0) !important;   
    }
}
.perso-caps {
    position: absolute;
    background-image: url('../images/caps.png');
    background-size: cover;
    width: 132px;
    height: 80px;
    top: 82px;
    left: 117px;
    z-index: 1;
    transition: 0.3s;
    &.is-move {
        top: 33px;
        left: 117px;
        opacity: 1 !important;  
    }
}