{% extends "base.twig" %}

{% block content %}
<div class="lines-intro">
	<div class="half-line before-lines">
		<div class="block-line"></div>
	</div>
	<div class="wrap-lines container">
		<div class="row no-gutters">
			<div class="col-3 liner">
				<div class="block-line"></div>
			</div>
			<div class="col-3 liner">
				<div class="block-line"></div>
			</div>
			<div class="col-3 liner">
				<div class="block-line"></div>
			</div>
			<div class="col-3 liner">
				<div class="block-line"></div>
			</div>
		</div>
	</div>
	<div class="half-line after-lines">
		<div class="block-line"></div>
	</div>
</div>

<div class="intro">
	<div class="home-slide home-slide--intro is-active">
		<div class="scroll-enter">
			<div class="line-enter anim-line"></div>
			<p>scroll</p>
		</div>
		<div class="wrap-elements">
			<span class="element element-1 c"></span>
			<span class="element element-3 c-line"></span>
			<span class="element element-4 c-line-color"></span>
			<span class="element element-5 t t-color-top"></span>
			<span class="element element-6 r anim-slide-y anim-delay-2s"></span>
			<span class="element element-7 r-color anim-slide-y"></span>
			<span class="element element-8 r-line anim-pulse"></span>
			<span class="element element-9 l l-color-top anim-slide-x"></span>
			<span class="element element-10 l-large l-large-color anim-slide-x anim-delay-2s"></span>
			<span class="element element-11 more"></span>
			<span class="element element-12 x"></span>
		</div>
		{# {% include 'partial/blocs.twig'%} #}
		{% include 'homepage/homepage-intro.twig'%}
	</div>
</div>
<div class="sections">
	{% include 'partial/blocs.twig'%}
</div>
{% endblock %}