{% extends "base.twig" %}

{% block content %}
<div class="lines-intro">
	<div class="half-line before-lines">
		<div class="block-line"></div>
	</div>
	<div class="wrap-lines container">
		<div class="row no-gutters">
			<div class="col-3 liner">
				<div class="block-line"></div>
			</div>
			<div class="col-3 liner">
				<div class="block-line"></div>
			</div>
			<div class="col-3 liner">
				<div class="block-line"></div>
			</div>
			<div class="col-3 liner">
				<div class="block-line"></div>
			</div>
		</div>
	</div>
	<div class="half-line after-lines">
		<div class="block-line"></div>
	</div>
</div>

<div class="intro">
	<div class="home-slide home-slide--intro is-active">
		<div class="desktop">
			<div class="wrap-elements">
				<span class="element element-1 c rellax"  data-rellax-speed="3"></span>
				<span class="element element-3 c-line rellax"  data-rellax-speed="2"></span>
				<span class="element element-4 c-line-color rellax"  data-rellax-speed="3"></span>
				<span class="element element-5 t t-color-top rellax"  data-rellax-speed="1"></span>
				<span class="element element-6 r anim-slide-y anim-delay-2s rellax"  data-rellax-speed="3"></span>
				<span class="element element-7 r-color anim-slide-y rellax"  data-rellax-speed="2"></span>
				<span class="element element-8 r-line anim-pulse rellax"  data-rellax-speed="3"></span>
				<span class="element element-9 l l-color-top anim-slide-x rellax"  data-rellax-speed="2"></span>
				<span class="element element-10 l-large-color anim-slide-x anim-delay-2s rellax"  data-rellax-speed="3"></span>
				<span class="element element-11 more rellax"  data-rellax-speed="3"></span>
				<span class="element element-12 x rellax"  data-rellax-speed="1"></span>
			</div>
			{# {% include 'partial/blocs.twig'%} #}
			{% include 'homepage/homepage-intro.twig'%}
		</div>
	</div>
</div>
<div class="sections">
	{% include 'partial/blocs.twig'%}
</div>
{% endblock %}