{% extends "base.twig" %}

{% block content %}

{% if post.thumbnail.src is defined %}
<div class="hero-page hero-about">
	<div class="hero-content" data-position="{{ post.position }}"
		style="background-image: url('{{ post.thumbnail.src }}')"></div>
  <div class="hero-title rellax" data-rellax-speed="3">
    <h1 class="mb-0">{{post.title}}</h1>
  </div>
</div>
{% endif %}

{% set blocs = post.meta('blocs') %}

{% for i, bloc in blocs %}
    {% include('about/' ~ bloc.acf_fc_layout ~ '.twig')%}
{% endfor %}

{% endblock %}