// Base
// ==================
body {
    background-color: #fff;
    // touch-action: none;
    cursor: none;
    color: $color_txt;
    font-family: $font_montserrat;
}

a {
    cursor: none !important;
    color: inherit;
    transition: 0.2s ease-in-out;
    &:hover, &:focus {
        text-decoration: none;
        color: $color_primary;
    }
}

button {
    border: none;
    cursor: none !important;
    background: none;
    &:focus {
        outline: none;
    }
}

.app {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
}

.scroll-content::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

.scroll-content::-webkit-scrollbar
{
    // width: 6px;
    width: 0;
    background-color: #F5F5F5;
}

.scroll-content::-webkit-scrollbar-thumb
{
    background-color: #666565;
}

.scroll-content::-scrollbar-thumb
{
    background-color: #666565;
}

// scroll firefox
//===================
.scroll-content {
    scrollbar-color: #666565 #F5F5F5;
    scrollbar-width: none;
}


// Color
// ==================
.icon-color {
    color: $color_primary;
}
.bg-grey-light {
    background-color: #f1f1f1;
}

// tooltip
// ==================
.tooltip-inner {
    background-color: $color_primary;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: $color_primary;
}

@include maxwidth(md) {
    body {
      cursor: auto;
    }
    .app {
        position: relative;
        left: 0;
        right: 0;
        overflow: hidden;
    }
}

@include maxwidth(sm) {
#app {
    [class*="col-"] {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .item-case-study {
        [class*="col-"]{
              padding-left: 0 !important;
              padding-right: 0 !important;
          }
      }
}
    .main {
        .container {
        padding-left: 15px !important;
        padding-right: 15px !important;  
        }
    }
    .txt-center-sm {
        text-align: center !important;
    }
}

@include minmaxwidth(sm, md) {
    .text-left-md-lg {
      text-align: left !important;
    }
    .pl-md-lg-0 {
        padding-left: 0 !important;
      }
  }