// hero
// ==================
.hero-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .hero-content {
        background-size: cover;
        background-position: center;
        height: 650px;
        width: 100%;
    }
    .hero-title {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        h1 {
            font-size: 4rem;
            text-transform: capitalize;
        }
        .header-subtitle {
            font-size: 1.2rem;
        }
    }
}


@include maxwidth(sm) {
    .hero-page {
        .hero-content {
            height: 100vh;
            background-position: center !important;
        }
    }
}